{% extends "layout.html" %} {% block content %}
  <!--Java Script-->
<script type=text/javascript src="{{ url_for('static', filename='script.js') }}"></script>

<!--<div id="floating-panel">
  <input id="autocomplete" type="text" value="Berlin, Germany" />
  <input id="submit" type="button" value="Set Marker" />
</div> -->

<div id="map"></div>

    <!-- Maps API-->
  
    <script
      src="https://maps.googleapis.com/maps/api/js?key={{map_key}}&libraries=places&callback=initAutocomplete"
      async
    ></script>
{% endblock content %}
